body {
    font-family: var(--global-font);
    background-color: var(--bg-dark);
    color: var(--text-primary);
}
.title {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: space-between;
}
.title p {
    text-align: center;
}
.title a {
    font-size: 14px;
    color: var(--text-gray);
}
.title a:hover {
    color: var(--text-secondary);
}
.create-post {
    font-family: var(--global-font);
    width: 75%;
    margin: auto;
    margin-top: 15px;
}
.create-post form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px 15px;
    font-size: 16px;
    color: var(--text-primary);
}
.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}
textarea {
    font-family: var(--global-font);
}
.post_list {
    font-family: var(--global-font);
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px 15px;
    color: var(--text-primary);
    width: 75%;
}
.post {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    font-size: 16px;
    color: var(--text-primary);
    min-width: 500px;
    border-style: solid;
    background-color: var(--bg-dark);
    border-width: 2px;
    border-color: var(--bg-blue-primary);
    border-radius: 5px;
    margin: 5px;
}
.name {
    font-size: 18px;
    width: 14%;
    align-self: flex-start;
}
.text{
    font-size: 16px;
    width: 60%;
    align-self: center;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid;
    border-left: 2px solid;
}
.time {
    font-size: 11px;
    align-self: auto;
}