foot {
    bottom: 0;
    margin-top: auto;
    text-align: center;
    font-size: large;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}
foot a {
    text-align: center;
    text-decoration: none;
    color: black;
    text-decoration: underline;
    padding: 2px 5px;
}
foot a:hover {
    border-style: solid;
    border-width: 1.5px;
    border-color: #2777b9;
    border-radius: 5px;
    text-decoration: none;
    background-color: #e6f0f9;
    color: black;
    transition: 0.2s ease;
}
