.footer {
    color: var(--text-primary);
    margin: auto;
    margin-top: 15px;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

foot a {
    text-align: center;
    text-decoration: none;
    color: var(--text-primary);
    text-decoration: underline;
    padding: 2px;
}
