body {
    background-color: var(--bg-dark);
}
.home {
    border-style: solid;
    background-color: var(--bg-dark);
    border-width: 2px;
    border-color: var(--bg-blue-primary);
    border-radius: 5px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    max-width: fit-content;
    margin: auto;
    margin-top: 15px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: var(--text-primary);
    padding: 5px 5px;
}
.content p {
    padding: 2px;
}
.greet {
    text-align: center;
    color: var(--text-primary);
    font-size: 32px;
}
.content a {
    padding: 2px;
    text-decoration: underline;
    color: var(--text-primary);
}

.content a:hover {
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--bg-blue-primary);
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--text-primary);
    color: black;
    transition: 0.1s ease;
}
