body {
    background-color: var(--bg-dark);
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.home {
    border-style: solid;
    background-color: var(--bg-dark);
    border-width: 2px;
    border-color: var(--bg-blue-primary);
    border-radius: 5px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    max-width: fit-content;
    margin: auto;
    margin-top: 15px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: var(--text-primary);
    padding: 5px 5px;
}
.content p, a {
    padding: 2px;
    color: var(--text-primary);
}
.greet {
    text-align: center;
    color: var(--text-primary);
    font-size: 32px;
}
.content a {
    padding: 2px;
    text-decoration: underline;
    
}
.logo-wrap{
    overflow: hidden;
    position: relative;
}

.logo-bg{
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    width: 25%;
    height: auto;
}