.footer {
    color: var(--text-primary);
    margin: auto;
    margin-top: 15px;
    bottom: 0;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

foot a {
    text-align: center;
    text-decoration: none;
    color: var(--text-primary);
    text-decoration: underline;
    padding: 2px;
}
foot a:hover {
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--bg-blue-primary);
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--text-primary);
    color: black;
    transition: 0.1s ease;
}
